$bg: lightseagreen;
$text: white;
$link: hotpink;
$highlight: white;
$dg: rgba(0, 0, 0, 0.5);
$bgo: rgba(32, 178, 170, 0.5);
body {
	// background-color: $bg;
	background-image: url('/assets/img/bigbg.jpg');
	color: $text;
	margin: 0;
	padding: 0;
}
nav {
	background-color: $dg;
	padding: 0.5rem;
	a {
		font-weight: bold;
		font-size: 2rem;
		text-decoration: none;
		color: $link;
		border-bottom: 0.3rem solid $text;
		display: inline-flex;
		margin: 0;
		padding: 0;
	}
}
.content {
	hr {
		border-bottom: 0.3rem $bgo solid;
	}
	.title-dg {
		background-color: $dg;
		text-align: center;
	}
	a {
		text-decoration: none;
		text-align: right;
		color: $link;
		border-bottom: 0.2rem solid $text;
		display: inline-flex;
		margin: 0;
		padding: 0;
		background-color: $bgo;
	}
	a:visited {
		color: $highlight;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	code {
		text-align: right;
		display: inline-block;
		color: $highlight;
	}
}
