---
---
<!DOCTYPE html>
<html lang="en" data-theme="{{ site.theme_config.appearance | default: "dark" }}">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/monokai.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <script src="/assets/js/hover.js"></script>
</head>
<body onload="changeMediaQ()">
    {% include navigation.html %}
    <div id="content" class="content">{{content}}</div>
</body>
</html>